* {
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

.ball{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    background-color: royalblue;
    transition: width 1s, height 1s;
}